.send-box {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.title-send {
  color: #01b2ee;
  font-weight: 700;
  font-size: 22px;
}
.inner-con {
  display: flex;
  width: 100%;
  align-items: center;
}
.sn-1 {
  display: flex;
  border: 1px solid #dce3ed;
  padding-left: 10px;
  width: 50%;
  margin-top: 13px;
}
.head-send {
  width: 50%;
}
#button-addon2 {
  background-color: #01b2ee;
  color: white;
  font-weight: 400;
}

/* @media only screen and (max-width: 1280px) {
  .inner-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
} */
