.n1 {
  background-color: #01b2ee;
  height: 60px;
}
.container {
  padding: 0;
}
.n2 {
  background-color: #f4f7fb;
  height: 60px;
  box-shadow: 0 0 10px 0 rgb(75 84 96 / 38%);
  position: sticky;
  top: 60px;
}

.nav-2 {
  gap: 35px;
}

.navbar-nav-scroll {
  display: flex;
  gap: 35px;
}
.title-head {
  font-family: MuseoSans, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}
.half-head {
  width: 50%;
}

.nav-link {
  color: white;
}

.btn-secondary {
  background-color: #01b2ee;
}
.nav-it {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #f4f7fb;
  font-weight: 600;
}
.dropdown-toggle1 {
  color: #f4f7fb;
  font-weight: 600;
}
.dropdown-toggle1:hover {
  color: #f4f7fb;
}
.heart {
  font-size: 1.2rem;
  color: #f4f7fb;
}
.link-sec {
  display: flex;
  margin: 0;
  align-items: center;
}
.mail {
  display: flex;
  align-items: center;

  gap: 3px;
  color: #f4f7fb;
  text-decoration: none;
}
.nav-item {
  display: flex;
  align-items: center;
}
.profile-link {
  text-decoration: none;
  color: #212529;
}
.categories {
  color: #01b2ee;
  margin: 0;
}
.d-flex {
  width: 40%;
}
.btn-outline-success {
  border: 1px solid #01b2ee;
  color: #01b2ee;
}

.btn-outline-success:hover {
  color: #f4f7fb;
  font-weight: 400;
  background-color: #01b2ee;
}

.show::before {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 8px;
  margin-top: 8px;
  color: #4f5864;
}
.dropdown-toggle{
  display: flex;
  align-items: center;
}
.d-flex{
  display: flex;
  align-items: center;
  border: 1px solid #dce3ed;
  padding-left: 10px;
}
.bi-search {
  display: flex;
}

.me-2{
  border: none;
  margin-left: 10px;
}
@media only screen and (max-width: 1087px) {
  .link-sec {
    display: none;
  }
  .n1 {
    padding: 0;
  }
  .n2 {
    display: none;
  }
}
