.footer-con {
  margin-top: 120px;
}
.icons {
  display: flex;
  gap: 8px;
}
.Get-app {
  margin-top: 15px;
}
.download {
  width: 83%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-weight: 600;
  margin-top: 15px;
  background-color: #01b2ee;
}
.head-footer {
  display: flex;
  align-items: baseline;
  margin-left: 16px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #aaa;
  height: 70px;
}
.send-footer {
  border-top: 1px solid rgb(212, 208, 208);
  padding-top: 10px;
}
.message{
  margin: 0;
}
.message-text{
  margin-top: 5px;
}
.Privacy {
  text-decoration: none;
}
.copyright-space {
  display: flex;
}
.input-group{
  display: flex;
  align-items: center;
  border: 1px solid #dce3ed;
  padding-left: 10px;
  width: 300px;
}
.form-control{
  border: none;
  margin-left: 1px;
}
.em{
  color: #92a2ad;
}
.icons-so{
  color: #4f5864;
}
.bi{
  font-size: 22px;

}