.n1 {
  background-color: #01b2ee;
  height: 60px;
}
.n2 {
  background-color: #f4f7fb;
  height: 60px;
}

.title-head {
  font-family: MuseoSans, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 0 2px 18px;
}
.half-head{
  width: 50%;

}
.dropdown-toggle1{
  display: flex;
}