.automotive-con {
  margin-top: 60px;
}

/* @media only screen and (min-width: 650) {
  .cont {
    width: 100%;
  }
  .deal-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 530) {
  .deal-grid {
    display: flex;
    flex-direction: column;
  }
} */
