.top-level {
  margin-top: 45px;
}
.nav-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: -15px;
}
.title-top {
  display: flex;
  width: 100%;
  padding-left: 15px;
  color: #01b2ee;
  font-size: 1.8rem;
  font-weight: 700;
  opacity: 0.9;
  margin-bottom: 13px;
}

.card-img-top {
  height: 50%;
  width: 100%;
}
.grid-top {
  width: 100%;
}
.main {
  display: grid;
  grid-template-columns: 25% 36% 36%;
  gap: 15px;
}
.top-card {
  display: flex;
  flex-direction: column;
}
.name-Stores {
  color: #01b2ee;
}
.bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #01b2ee;
}
.text-end {
  display: flex;
  align-items: flex-end;
}
.price {
  font-size: 2rem;
  font-weight: 500;
}
.from-word {
  display: flex;
  justify-content: end;
  margin: 0;
  line-height: 2px;
  font-size: 14px;
}
.text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.line-th {
  text-decoration: line-through;
  color: #727986;
}
.flex-column {
  width: 100%;
  border-top: 1px solid rgb(212, 208, 208);
  padding-top: 10px;
  height: 100%;
  gap: 10px;
  margin-left: 5px;
}
.card {
  border: none;
  border-bottom: 1px solid rgb(212, 208, 208);
}

.link-img {
  text-decoration: none;
}
h5 {
  color: black;
}
.name-ops {
  display: inline-block;
  color: #92a2ad;
  opacity: 0.9;
  font-size: 14px;
}
.text-cont {
  line-height: 9px;
}

@media only screen and (max-width: 1160px) {
  aside {
    display: none;
  }
  .main {
    display: grid;
    grid-template-columns: 0% 50% 50%;
    gap: 15px;
  }
}

@media only screen and (max-width: 650px) {
  aside {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
